/* # Post
A simple blog post

```
<div class="Post">
	<h1 class="Post-Headline">Dude</h1>
</div>
```

Styleguide 1.
*/

.Post {

}

.Post-Title {
	font-size: 3rem;
	background: var(--red);
	color: var(--white);
	padding: 1rem 1rem;
	box-shadow: inset 0 -.125rem 0 0 var(--white);
	margin: 0;
}

.Post-Content {
	margin: 0 .5rem;
}

.Post-Content > p:first-of-type {
	background: color(var(--blue) tint(75%));
	margin-top: 0;
	margin: 0 -.5rem 1rem;
	padding: .5rem .5rem 1rem;
	color: var(--blue-dark);
}

.Post-Content h2 {
	display: inline-block;
	margin: 0 -.5rem;
	padding: 1rem .5rem;
	font-size: 1.75rem;
	text-align: center;
	background: var(--blue);
	color: var(--white);
	width: 100%
}

.Post-Content h3 {
	font-size: 1.25rem;
	color: var(--blue);
	box-shadow: inset 0 -1px 0 0 color(var(--blue) tint(75%));
	padding-bottom: .5rem;
}
