@import "suitcss-utils";

:root {
	/* font names */
	/* [font-style font-variant font-weight] font-size/line-height font-family; */
	--font-sans     : 700 18px/1 "Helvetica Neue", Sans-serif;
	--font-serif    : 400 18px/1.5 "Georgia", Serif;
	--font-headline : var(--font-sans);
	--font-body     : var(--font-serif);

	/* color names */
	--white       : #ffffff;
	--black       : #404040;
	--red         : #EC433F;
	--green       : #CAD946;
	--yellow      : #F4D832;
	--blue        : #4AC2CF;
	--red-dark    : #901C20;
	--green-dark  : #929E21;
	--yellow-dark : #BAA600;
	--blue-dark   : #446067;

	/* theme vars */
	--base-background: var(--white);
	--base-color: var(--black);
	--base-font: var(--font-serif);
}

img {
	width: 100%;
}

html {
	background: var(--base-background);
	color: var(--base-color);
	font: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font: var(--font-headline);
}
