@import "Theme";
@import "Button";

:root {
	--Bg-color: var(--color-white);
}
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

html {
	background: var(--Bg-color);
}
