%rounded
	border-radius: ms(0)

%rounded--top
	border-top-radius: ms(0)

%no-below
	&:last-child
		margin-bottom: 1rem

%visually-hidden
	border: 0 !important
	clip: rect(0 0 0 0) !important
	height: 1px !important
	width: 1px !important
	margin: -1px !important
	padding: 0 !important
	overflow: hidden !important
	position: absolute !important

%unhide
	width: auto
	clip: none
	margin: 0
	position: relative
	height: auto

// Compatability

=reset-form
	appearance: none
	padding: 0
	margin: 0
	border: 0
	font-size: 1rem

=padding-x($left: ms(0), $right: $left)
	padding-left: $left
	padding-right: $right

=margin-x($left: ms(0), $right: $left)
	margin-left: $left
	margin-right: $right
